:root {
  --primary-light-cyan: hsl(193, 38%, 86%);
  --primary-neon-green: hsl(150, 100%, 66%);
  --neutral-grayish-blue: hsl(217, 19%, 38%);
  --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 800;
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.main {
  position: relative;
  max-width: 540px;
  border-radius: 0.5em;
  margin: 0.5714285714em;
  padding: 1.8571428571em 1.7142857143em;
  background-color: var(--neutral-dark-grayish-blue);
  box-shadow: 0 0 2em 0.5em rgba(31, 38, 50, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.main__title {
  color: var(--primary-neon-green);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-size: 0.5em;
}
.main__paragraph {
  color: var(--primary-light-cyan);
  text-align: center;
  font-size: 1em;
}
.main__button {
  position: absolute;
  bottom: -25px;
  border: none;
  z-index: 1;
  border-radius: 50%;
  padding: 1em;
  background-color: var(--primary-neon-green);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}
.main__button:hover {
  box-shadow: 0 0 1em 0.5em rgba(82, 255, 168, 0.6);
}
@media screen and (max-width: 425px) {
  .main {
    padding: 1.5714285714em 0.8571428571em;
  }
}

.divider {
  width: 100%;
  height: 16px;
  margin-bottom: 0.7142857143em;
  background-image: url(../images/pattern-divider-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 425px) {
  .divider {
    background-image: url(../images/pattern-divider-mobile.svg);
  }
}

.footer {
  width: 100%;
  margin-top: 3em;
  font-size: 0.5em;
  color: var(--primary-light-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__paragraph {
  color: inherit;
  text-align: center;
}
.footer__link {
  color: var(--primary-neon-green);
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  background-color: var(--neutral-dark-grayish-blue);
  display: none;
}
.loader__spinner {
  width: 1.7142857143em;
  height: 1.7142857143em;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
