@use "colors";
@use "mixins";

.main {
  position: relative;
  max-width: 540px;
  border-radius: mixins.convertToEM(14);
  margin: mixins.convertToEM(16);
  padding: mixins.convertToEM(52) mixins.convertToEM(48);
  background-color: var(--neutral-dark-grayish-blue);
  @include mixins.boxShadow(0, 0, 2em, 0.5em, colors.$dark-blue);
  @include mixins.displayFlex(true, mixins.convertToEM());

  &__title {
    color: var(--primary-neon-green);
    text: {
      transform: uppercase;
      align: center;
    }
    letter-spacing: 5px;
    font-size: mixins.convertToEM(14);
  }

  &__paragraph {
    color: var(--primary-light-cyan);
    text-align: center;
    font-size: mixins.convertToEM();

    &::before {
      content: "\201C";
    }

    &::after {
      content: "\201D";
    }
  }

  &__button {
    position: absolute;
    bottom: -25px;
    border: none;
    z-index: 1;
    border-radius: 50%;
    padding: mixins.convertToEM();
    background-color: var(--primary-neon-green);
    @include mixins.displayFlex();
    text-align: center;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: 0.4s;

    &:hover {
      @include mixins.boxShadow(0, 0, 1em, 0.5em, colors.$neon-green);
    }
  }

  @include mixins.media() {
    padding: mixins.convertToEM(44) mixins.convertToEM(24);
  }
}

.divider {
  width: 100%;
  height: 16px;
  margin-bottom: mixins.convertToEM(20);
  background: {
    image: url(../images/pattern-divider-desktop.svg);
    position: center;
    size: cover;
    repeat: no-repeat;
  }

  @include mixins.media() {
    background-image: url(../images/pattern-divider-mobile.svg);
  }
}
