@use "sass:math";
@use "sass:color";

$font-size: 28;

@function convertToEM($pixeles: $font-size) {
  $size: math.div($pixeles, $font-size);
  @return #{$size}em;
}

@mixin displayFlex($column: false, $gap: null) {
  display: flex;
  @if ($column) {
    flex-direction: column;
  }
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin boxShadow($x, $y, $blur, $spread, $color) {
  $shadow: change-color(
    $color: $color,
    $alpha: 0.6,
  );
  box-shadow: $x $y $blur $spread $shadow;
}

@mixin media() {
  @media screen and (max-width: 425px) {
    @content;
  }
}
